@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Spartan:200,300,400,500,700|Raleway:wght@800&display=swap');

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow: hidden
}

/* MAPS */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 10px;
}

.leaflet-popup-content {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  margin: 8px 12px;
}

.leaflet-popup-close-button {
  display: none;
}

.location-icon {
  opacity: .7;
}