@import "../../variables.scss";
@import "../../mixins.scss";

.heroViewWrapper {
  @include sectionWrapper;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 100vw;
  height: calc(100vw * 0.80555556);
  max-height: 464px;
  background-position: center;
  background-size: contain;
  background-image: url(../../assets/images/heroes/hero_building_576_464.jpg);
  @media screen and (min-width: 577px) {
    background-image: url(../../assets/images/heroes/hero_building_768_619.jpg);
    max-height: 576px;
    background-size: cover;
  }
  @media screen and (min-width: 769px) {
    background-image: url(../../assets/images/heroes/hero_building_1024_825.jpg);

    @media (orientation: landscape) {
      background-image: url(../../assets/images/heroes/hero_building_1024_576.jpg);
      background-size: cover;
      max-height: 576px;
    }
  }
  @media screen and (min-width: 1025px) and (orientation: landscape) {
    background-image: url(../../assets/images/heroes/hero_building_1368_770.jpg);
    max-height: 770px;
  }
  @media screen and (min-width: 1369px) and (orientation: landscape) {
    background-image: url(../../assets/images/heroes/hero_building_1920_1080.jpg);
    max-height: 1080px;
  }

  .heroViewTextWrapper {
    max-width: 100%;
    margin-bottom: 3rem;

    .heroTitle {
      @include sectionTitle;
      text-transform: uppercase;
      color: $color-5;
      color: $footer-text-color;
      text-shadow: 2px 2px 1px rgba($color-5,.75);
      text-align: center;
    }

    .heroParagraph {
      @include sectionParagraph;
      padding-right: 1rem;
    }
  }

  .heroButton {
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: $color-4;
    color: $footer-text-color;
    font-size: .75rem;
    font-family: "Spartan", sans-serif;
    font-weight: 500;
    letter-spacing: .05rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 1.5rem;
    transition: background-color .5s;

    &:hover {
      background-color: $color-6;
    }

    @media (min-width: 768px) {
      height: 3rem;
      font-size: 1rem;
      padding: 0.5rem 2.5rem;
    }
  }
}
