@import "../../variables.scss";
@import "../../mixins.scss";

.flatsViewWrapper {
  @include sectionWrapper;

  .sectionTitle {
    @include sectionTitle;
  }

  .sectionSubTitle {
    @include sectionSubTitle;
    margin-bottom: .5rem;
  }

  .sectionParagraph {
    @include sectionParagraph;
  }

  .flatSearchWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
  }
}