@import "../../variables.scss";

.flatsViewWrapper {
  width: 100%;
  height: auto;
  padding: 3rem;

  .sectionTitle {
    color: $color-4;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 3rem;
  }

  .sectionParagraph {
    color: $color-5;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
  }

  .flatSearchWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    // flex-wrap: wrap;
  }
}