@import "../../variables.scss";
@import "../../mixins.scss";

.investmentViewWrapper {
  @include sectionWrapper;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .investmentViewTextWrapper {
    max-width: 100%;
  
    .sectionTitle {
      @include sectionTitle;
    }
  
    .sectionParagraph {
      @include sectionParagraph;
      padding-right: 1rem;
    }
  }

  .sliderWrapper {
    max-width: 100%;
    height: 500px;

    .sliderDescription {
      position: relative;
      z-index: 1;
    }
  }

  // @media (min-width: 1280px) {

  //   flex-direction: row;
  //   justify-content: space-between;

  //   .investmentViewTextWrapper {
  //     max-width: 40%;
  //     padding-right: 2rem;
  //   }
    
  //   .sliderWrapper {
  //     max-width: 60%;
  //   }
  // }
}
