@import "../../variables.scss";
@import "../../mixins.scss";

.investmentViewWrapper {
  @include sectionWrapper;
  padding-top: 4rem;

  display: flex;
  justify-content: space-between;

  .investmentViewTextWrapper {
    // @include sectionWrapper;
    max-width: 40%;
  
    .sectionTitle {
      @include sectionTitle;
    }
  
    .sectionParagraph {
      @include sectionParagraph;
      padding-right: 1rem;
    }
  }
  
  .sliderWrapper {
    max-width: 60%;

    .sliderDescription {
      position: relative;
      z-index: 1;
    }
  }
}
