@import "../../variables.scss";
@import "../../mixins.scss";

.locationViewWrapper {
  @include sectionWrapper;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;

  .locationViewTextWrapper {
    // @include sectionWrapper;
    max-width: 40%;
  
    .sectionTitle {
      @include sectionTitle;
    }
  
    .sectionParagraph {
      @include sectionParagraph;
      padding-right: 1rem;
    }
  }
  
  .mapWrapper {
    width: 60%;
  }
}