@import '../../variables.scss';

.sliderWrapper {
  margin-top: 1rem;
  max-width: 100%;

  .sliderDescription {
    font-family: "Spartan", sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 2rem;
    color: white;

    @media (min-width: 1280px) {
      font-size: 4rem;
    }
  }
}

