@import "../../variables.scss";

.topMenuItem {
  display: block;
  min-width: 120px;
  min-height: 30px;
  padding-top: .5rem;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: $color-5;
    font-weight: 700;
  }
}

.topMenuItemActive {
  min-width: 120px;
  cursor: pointer;
  color: $color-5;
  font-weight: 700;
  border-bottom: 1px solid $color-5;
}

@media (min-width: 768px) {

  .topMenuItem {
    margin-right: 0;
  }
}