@import "../../variables.scss";
 
.topMenuWrapperMobileHidden {
  position: fixed;
  top: -150px;
  right: 0;
  width: 100%;
  height: 192px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  text-transform: uppercase;
  color: $color-4;
  z-index: 1001;
  background-color: $top-menu-bg-color;
  transition: transform 1s;
  opacity: .9;
}

.topMenuWrapperMobileOpen {
  @extend .topMenuWrapperMobileHidden;
  transform: translateY(150px);
  transition: transform 1s;
}


.topMenuWrapper {
  @extend .topMenuWrapperMobileHidden;
  border-bottom: 1px solid $color-6;
  top: 0;
  padding: 0 calc((100vw - 1360px) / 2 + 3rem);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  }

@media (min-width: 1360px) {
  .topMenuWrapper {
    justify-content: space-between;
  }
}

.scrollToTop {
  position: fixed;
  bottom: 60px;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: rgba($color-4, .4);
  //border: 1px solid rgba($footer-text-color, .9);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .scrollToTopIcon {
    color: rgba($footer-text-color, .9);
    font-size: 1.5rem;
  }
}
