@import "../../variables.scss";

.topMenuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  text-transform: uppercase;
  border-bottom: 1px solid $color-6;
  color: $color-4;
  z-index: 1000;
  background-color: $top-menu-bg-color;

  .topMenuItem {
    display: none;
  }
}

@media (min-width: 768px) {

  .topMenuWrapper {
    justify-content: space-evenly;
    
    .topMenuItem {
      display: block;
      text-align: center;
      min-width: 120px;
      cursor: pointer;

      &:hover {
        color: $color-5;
        font-weight: 700;
      }
    }

    .topMenuItemActive {
      min-width: 120px;
      cursor: pointer;
      color: $color-5;
      font-weight: 700;
      border-bottom: 1px solid $color-5;
    }
  }
}

