@import "../../variables.scss";
@import "../../mixins.scss";


.companyViewWrapper {
  @include sectionWrapper;
  padding-bottom: 2rem;
  padding-top: 2rem;

  .sectionTitle {
    @include sectionTitle;
  }

  .companyTopSectionWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .sectionParagraph {
      @include sectionParagraph;
      width: 100%;
    }

    @media (min-width: 768px) {
      flex-direction: row;

      .sectionParagraph {
        @include sectionParagraph;
        width: 50%;
        margin-right: .5rem;
      }
    }
  }
}