@import '../../mixins.scss';

.counterItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: .5rem;
  font-family: Spartan;

  .counterNumbers {
    @include sectionSubTitle;
    font-size: 2rem;
  }
  .counterDescription {
    @include sectionParagraph;
    margin: 0;
    padding-top: .8rem;
    text-transform: uppercase;
  }
}