// Colors Paleette
$color-1: #881347;
$color-2: #ac124a;
$color-3: #c01e58;
$color-4: #282f6c;
$color-5: #151755;
$color-6: #090839;
$top-menu-bg-color: #ffffff;
$footer-text-color: #ececec;

$slider-text-shadow: 2px 2px 2px $color-6;
