@import "../../../variables.scss";

.rangesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  flex-grow: 1;

  .rangesItem {
    width: 100%;
    min-width: 125px;
    margin-right: 3.5rem;
    margin-left: 3.5rem;

    .rangesTitle {
      color: $color-3;
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      padding-bottom: .5rem;
    }
  }
}