@import "../../../variables.scss";

.rangesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  .rangesItem {
    width: 100%;
    padding: .5rem 5rem 1.5rem;
    margin-bottom: 1rem;

    &:nth-child(odd) {
      background-color: rgba($color-4, .3);
      color: $footer-text-color;
    }
    &:nth-child(even) {
      background-color: rgba($color-4, .05);
    }


    .rangesTitle {
      color: $color-3;
      font-family: 'Spartan', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      font-size: 1rem;
      padding-bottom: .5rem;

    }
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    .rangesItem {
      width: calc(50% - .5rem);
      padding: 1rem 5rem 2.5rem;

      &:nth-child(3) {
        order: 2;
      }
    }
  }

  @media (min-width: 1024px) {
    .rangesItem {
      // width: 50%;
      // min-width: 10%;
      //width: calc(25% - 7rem);
      padding: 1rem 6rem 2.5rem;
    }
  }
}